html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #b8b0d9;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  margin-left: 22%;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
section.sidebar .navbar {
  width: 22%;
  height: 100vh;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #322759;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
@media (max-width: 500px) {
  section.sidebar .navbar {
    font-size: 1.4rem;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 0;
  }
}
@media (max-width: 1000px) {
  section.sidebar .navbar {
    font-size: 1.4rem;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 0;
  }
}
section.sidebar .navbar a {
  width: 80%;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #7a748c;
  padding-bottom: 15px;
  margin-bottom: 45px;
  border-bottom: 2px solid #3b2c62;
  letter-spacing: 1px;
  font-family: verdana;
}
@media (max-width: 500px) {
  section.sidebar .navbar a {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #3b2c62;
  }
}
@media (max-width: 1000px) {
  section.sidebar .navbar a {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #3b2c62;
  }
}
section.sidebar .navbar a:hover {
  border-bottom: 2px solid white;
  color: white;
  align-content: center;
}
@media (max-width: 500px) {
  section.sidebar .navbar a:hover {
    border-bottom: 1px solid white;
    color: white;
    justify-content: center;
    align-content: center;
  }
}
.employees {
  display: flex;
  flex-direction: column;
}
.employees h1 {
  padding: 3rem;
  background-color: #1c1140;
  margin: 0 0 4rem;
}
@media (max-width: 1000px) {
  .employees h1 {
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 7rem;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .employees h1 {
    margin: 0 auto;
    padding-top: 7rem;
    width: 100%;
    text-align: center;
  }
}
.employees .employee {
  display: flex;
  margin: 0 4rem;
}
@media (max-width: 500px) {
  .employees .employee {
    flex-direction: column;
    border-radius: 12px;
  }
}
.employees .employee img {
  height: 320px;
  border-radius: 12px;
  margin-right: 7px;
}
@media (max-width: 500px) {
  .employees .employee img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 12px;
    margin-bottom: 7px;
    margin-right: 0;
  }
}
.employees .employee .employee-text {
  margin: 0 0 25px;
  padding: 2rem;
  height: 320px;
  background-color: rgba(108, 114, 208, 0.5);
  overflow: auto;
  border-radius: 12px;
}
.employees .employee .employee-text h2 {
  margin-bottom: 25px;
}
.employees .employee .employee-text p {
  margin-bottom: 25px;
  font-size: 1.7rem !important;
}
.employees .join {
  margin: 0 4rem 4rem;
  padding: 3rem;
  background-color: rgba(28, 17, 64, 0.6);
  border-radius: 12px;
}
@media (max-width: 500px) {
  .employees .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
  }
}
.employees .join h3 {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .employees .join h3 {
    text-align: center;
  }
}
.employees .join button {
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .employees .join button {
    text-align: center;
  }
}
.hide {
  display: none;
}
footer {
  display: flex;
  width: 100%;
  background-color: #493382;
  padding: 8rem;
  color: rgba(255, 255, 255, 0.35);
}
footer span.vert-divider {
  font-size: 2rem;
  margin: 0 25px;
}
div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
div.container div#wrapper {
  width: 78%;
  margin-left: 22%;
}
@media (max-width: 500px) {
  div.container div#wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  div.container div#wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  div.container div#wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  div.container div#wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
div.container div#wrapper p {
  font-size: 2rem;
}
div.container div#wrapper section {
  margin: 0;
}
div.container div#wrapper .fullscreen {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
@media (max-width: 500px) {
  div.container div#wrapper .fullscreen {
    flex-direction: column;
  }
}
div.container div#wrapper .halfscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 8rem;
}
@media (max-width: 500px) {
  div.container div#wrapper .halfscreen {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 4rem 8rem;
  }
}
@media (max-width: 500px) {
  div.container div#wrapper .halfscreen h1 {
    padding-top: 4rem;
  }
}

div.container div#wrapper div.header-div {
  width: 100%;
}
div.container div#wrapper div.header-div h1 {
  padding: 3rem;
  background-color: #1c1140;
  margin: 0 0 4rem;
}
div.container div#wrapper .first-section {
  background-attachment: fixed;
  background-image: url("../img/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #5e42a6;
}

div.container div#wrapper button {
  background: transparent;
  height: 4.75rem;
  width: 18rem;
  border-radius: 2.375rem;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: white;
}
div.container div#wrapper button.light {
  background: #b8b0d9;
  color: #361f78;
}
div.container div#wrapper section#intro p {
  margin: 3rem 0;
}
div.container div#wrapper section#intro .halfscreen img {
  width: 70%;
  min-width: 180px;
  border-radius: 35px;
}
div.container div#wrapper section#one {
  display: flex;
  flex-direction: column;
  background-color: #361f78;
}
div.container div#wrapper section#one div.screen-container {
  display: flex;
  justify-content: space-evenly;
  padding: 8rem;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.screen-container {
    flex-wrap: wrap;
  }
}
div.container div#wrapper section#one div.appscreen {
  width: 18%;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.appscreen {
    width: 40%;
  }
}
div.container div#wrapper section#one div.appscreen img {
  width: 100%;
  margin-bottom: 20px;
}
div.container div#wrapper section#one div.appscreen p {
  font-size: 1.35rem;
  text-align: center;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.appscreen p {
    margin-bottom: 15px;
  }
}
div.container div#wrapper section#one div.divider {
  width: 80%;
  height: 15px;
  border-radius: 7.5px;
  background-color: #b8b0d9;
  margin: 0 auto;
}
div.container div#wrapper section#one div.info-graph {
  display: flex;
  justify-content: space-between;
  padding: 8rem 8rem 0;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.info-graph {
    flex-direction: column;
    align-content: center;
    padding: 4rem 8rem;
  }
}
div.container div#wrapper section#one div.info-graph div {
  padding-bottom: 8rem;
  max-width: 75%;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.info-graph div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
div.container div#wrapper section#one div.info-graph div img {
  height: 200px;
  margin-right: 30px;
}
@media (max-width: 500px) {
  div.container div#wrapper section#one div.info-graph div img {
    display: none;
  }
}
div.container div#wrapper section#one div.info-graph h2,
div.container div#wrapper section#one div.info-graph p {
  padding: 0 0 25px;
}
div.container div#wrapper section#one div.info-graph button {
  margin: 0 25px 25px 0;
}
div.container div#wrapper section#two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
div.container div#wrapper section#two div.para {
  background-color: #4f52b5;
  width: 100%;
  padding: 8rem;
}
div.container div#wrapper section#two div.para h2 {
  padding: 0 0 20px;
}
div.container div#wrapper section#two div.post-para {
  background-color: #b74d91;
  width: 100%;
  padding: 8rem;
}
@media (max-width: 500px) {
  div.container div#wrapper section#two div.post-para {
    padding: 4rem;
  }
}
div.container div#wrapper section#two div.post-para div.boxes {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  div.container div#wrapper section#two div.post-para div.boxes {
    flex-direction: column;
  }
}
div.container div#wrapper section#two div.post-para div.boxes div {
  width: 47.5%;
}
@media (max-width: 500px) {
  div.container div#wrapper section#two div.post-para div.boxes div {
    width: 100%;
  }
}
div.container div#wrapper section#two div.post-para div.boxes h2 {
  font-weight: bolder;
  padding: 1.5rem 4rem;
  background-color: rgba(100, 45, 80, 0.7);
  color: white;
  border-radius: 2px;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  div.container div#wrapper section#two div.post-para div.boxes h2 {
    text-align: center;
  }
}
div.container div#wrapper section#two div.post-para div.boxes section {
  display: flex;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 3rem;
  border-radius: 2px;
}
div.container div#wrapper section#two div.post-para div.boxes section div {
  width: 85%;
  margin-left: 30px;
}
div.container div#wrapper section#two div.post-para div.boxes section h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
div.container div#wrapper section#two div.post-para div.boxes section p {
  color: rgba(255, 255, 255, 0.55);
  margin-top: 15px;
  line-height: 3.5rem;
}
div.container div#wrapper section#two div.post-para div.boxes section span.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 100%;
  color: #b74d91;
  font-size: 3rem;
  font-weight: 900;
}
div.container div#wrapper section#three {
  display: flex;
  flex-direction: row;
}
div.container div#wrapper section#three div {
  padding: 8rem;
  background-color: #1c1140;
  width: 100%;
}
@media (max-width: 500px) {
  div.container div#wrapper section#three div {
    padding: 4rem;
  }
}
div.container div#wrapper section#three div h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
}
@media (max-width: 500px) {
  div.container div#wrapper section#three div h3 {
    padding-top: 4rem;
  }
}
div.container div#wrapper section#three div.appstore-icons {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  div.container div#wrapper section#three div.appstore-icons {
    flex-direction: column;
    align-items: center;
  }
}
div.container div#wrapper section#three div.appstore-icons img {
  margin: 0 30px;
  height: 6rem;
}
@media (max-width: 500px) {
  div.container div#wrapper section#three div.appstore-icons img {
    margin: 2rem;
  }
}
