html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {

  font-family: Arial, Helvetica, sans-serif;
  color: #b8b0d9;
}
h1,
h2,
h3,
h4,
h5 {

  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  margin-left: 22%;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
.navbar {
  font-size: 1.8rem;
  height: 100%;
  width: 22%;
  background: #322759;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .navbar {
    font-size: 1.4rem;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 0;
  }
}
.navbar a {
  width: 80%;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #7a748c;
  padding-bottom: 15px;
  margin-bottom: 45px;
  border-bottom: 2px solid #3b2c62;
  letter-spacing: 1px;
  font-family: verdana;
}
@media (max-width: 500px) {
  .navbar a {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #3b2c62;
  }
}
.navbar a:hover {
  border-bottom: 2px solid white;
  color: white;
  justify-content: center;
  align-content: center;
}
@media (max-width: 500px) {
  .navbar a:hover {
    border-bottom: 1px solid white;
    color: white;
    justify-content: center;
    align-content: center;
  }
}
.about-us {
  padding-left: 150px;
  padding-top: 175px;
  padding-bottom: 75px;
  background: #5e42a6;
}
@media (max-width: 500px) {
  .about-us {
    padding: 0;
  }
}
.about-us h1 {
  font-size: 7rem;
  margin-bottom: 65px;
}
@media (max-width: 500px) {
  .about-us h1 {
    text-align: center;
    padding-top: 75px;
    margin-bottom: 40px;
  }
}
.about-us .employee-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .about-us .employee-container {
    flex-wrap: wrap;
  }
}
.about-us .employee-container .employee {
  width: 600px;
  margin-right: 75px;
}
@media (max-width: 500px) {
  .about-us .employee-container .employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    margin-bottom: 40px;
    padding: 15px;
  }
}
.about-us .employee-container .employee img {
  width: 400px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-us .employee-container .employee img {
    width: 375px;
  }
}
.about-us .employee-container .employee h2 {
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .about-us .employee-container .employee h2 {
    text-align: center;
  }
}
.join {
  margin-left: 400px;
  padding-top: 40px;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .join {
    margin: 0 auto;
  }
}
.join h1 {
  color: #5e42a6;
  margin-bottom: 25px;
}
.join button {
  font-size: 2.5rem;
  padding: 15px;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 40px;
  color: #5e42a6;
  background: white;
}
.join button:hover {
  cursor: pointer;
  color: white;
  background: #5e42a6;
}
div#wrapper {
  margin-left: 18rem;
  width: 100%;
}
div#wrapper section#intro {
  background-attachment: fixed;
  background-image: url("../img/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #5e42a6;
}
div#wrapper section#intro p {
  font-size: 2rem;
  margin: 3rem 0;
}
div#wrapper section#intro .halfscreen img {
  width: 250px;
}
div#wrapper .fullscreen {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
div#wrapper .halfscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 8rem;
}
div#wrapper button {
  background: transparent;
  height: 4.75rem;
  width: 18rem;
  border-radius: 2.375rem;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: white;
}
