@import './mixins.less';
@import './reset.less';
@import './global.less';
@import './nav.less';
@import './our-team.less';

//Wrapper CSS

div#wrapper {
  margin-left: 18rem;
  width: 100%;

  //Intro Sction CSS
  section#intro {
    background-attachment: fixed;
    background-image: url("../img/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: @main-bg;

    p {
      font-size: 2rem;
      margin: 3rem 0;
    }

    .halfscreen img {
      width: 250px;
    }
  }

  .fullscreen {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  .halfscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 8rem;
  }

  button {
    background: transparent;
    height: 4.75rem;
    width: 18rem;
    border-radius: 2.375rem;
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: @button-font-color;
  }
}
